#cloud-config

repo_update: true
repo_upgrade: all

packages:
 - git
 - wget

ssh_pwauth: True
chpasswd:
  list: |
     root:password
  expire: False


runcmd:
    - [git, clone, "https://github.com/rmmenezes/openstack-install-shellscript.git"]
 